---

- name: Package
  ansible.builtin.apt:
    name:
      - dehydrated
      - ssl-cert

- name: Post change hook script
  ansible.builtin.copy:
    dest: /usr/local/sbin/dehydrated_hook
    mode: "a=rx"
    src: dehydrated_hook

- name: Config file
  ansible.builtin.copy:
    dest: /etc/dehydrated/conf.d/config_hook.sh
    mode: "a=r"
    content: |
      # Ansible managed - inline
      # Call the hook that restarts services
      HOOK=/usr/local/sbin/dehydrated_hook

- name: First run
  ansible.builtin.command: dehydrated --register --accept-terms
  args:
    creates: /var/lib/dehydrated/accounts/

# TODO: The first run often fails on CAC hardware, build a retry system?

- name: Systemd service
  ansible.builtin.copy:
    dest: /etc/systemd/system/dehydrated.service
    mode: "a=r"
    content: |
      # Ansible managed - inline
      [Unit]
      Description=Run dehydrated
      StartLimitInterval=1h
      StartLimitBurst=5

      [Service]
      Type=oneshot
      ExecStart=dehydrated -c
      Restart=on-failure
      RestartSec=5min


- name: Systemd timer
  ansible.builtin.copy:
    dest: /etc/systemd/system/dehydrated.timer
    mode: "a=r"
    content: |
      # Ansible managed - inline
      [Unit]
      Description=Run dehydrated ssl renew weekly

      [Timer]
      OnCalendar=weekly

      [Install]
      WantedBy=timers.target

- name: Systemd reload
  ansible.builtin.systemd:
    daemon_reload: true

- name: Systemd enable
  ansible.builtin.systemd:
    name: "{{ item }}"
    enabled: true
  loop:
    - dehydrated
    - dehydrated.timer

- name: Systemd start timer
  ansible.builtin.systemd:
    name: dehydrated.timer
    state: started

- name: Replace snakeoil certs
  ansible.builtin.command: dehydrated -c --force
  args:
    removes: /var/lib/dehydrated/certs/snakeoil

# The above is a lie, it doesnt "removes", instead it is used as a "run this
# command only when the flag file exists"
# So, we do the actual removal next

- name: Remove snakeoil flag
  ansible.builtin.file:
    path: /var/lib/dehydrated/certs/snakeoil
    state: absent
